.orderCard {
  width: 100%;
  max-width: 875px;
  border-radius: 40px;
  background: #2f2f37;
  margin-right: 8px;
  text-decoration: none;
  color: inherit;
}

.orderCard:hover,
.orderCard:active,
.orderCard:focus {
  text-decoration: none;
  color: inherit;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.heading {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
  margin-top: 8px;
}

.title {
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 25px;
}

.orderInfo {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  margin-left: 25px;
  margin-bottom: 8px;
}

.orderPrice {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status {
  margin-left: 25px;
}
