.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 180px;
  text-align: center;
  gap: 80px;
}

.signForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

@media (max-height: 800px) {
  .sign {
    padding-top: 130px;
  }
}

@media (max-height: 750px) {
  .sign {
    padding-top: 90px;
  }
}

@media (max-height: 620px) {
  .sign {
    padding-top: 50px;
  }
}
