.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  z-index: 30;
  flex-direction: column;
  background: var(--interface-modal-bg);
  border-radius: 40px;
  align-items: center;
  width: 720px;
  text-align: center;
  background: #1c1c21;
  padding-bottom: 20px;
}

.heading {
  width: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.closeBtn {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.closeBtn:hover {
  opacity: 0.5;
}
