.menuBlock {
  background-color: #1c1c21;
  border: 2px;
  border-radius: 10px;
  margin: 10px 40px 0px 10px;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: "88px";
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 50px;
  margin: 0;
  padding: 0;
  margin-left: 300px;
}

.menuItem {
  align-items: center;
  display: flex;
}

.menuItem:last-child {
  width: 20%;
  justify-content: end;
  margin-right: 250px;
}
.menuItem > a {
  text-decoration: none;
  color: white;
}
