.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.detailsList {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.ingredientName {
  text-align: center;
}
