.root {
  text-align: center;
}
.image {
  width: 480px;
  height: 240px;
  margin-bottom: 16px;
}

.nutritions {
  list-style-type: none;
  display: flex;
  margin-top: 32px;
  padding: 0;
  justify-content: center;
  column-gap: 50px;
}
.nut_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
