.container {
  max-width: 536px;
  width: 100%;
  display: grid;
  gap: 10px;
  height: 390px;
  overflow-y: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.cost_block {
  display: flex;
  gap: 8px;
  float: right;
  margin-top: 40px;
}

.constructorElement {
  display: inline-block;
  border-radius: 40px;
  background: #2f2f37;
  max-width: 536px;
  width: 100%;
  min-height: 80px;
  line-height: 24px;
  color: #f2f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.selectedIngredientList {
  padding-left: 0px;
}
