.info-flex {
  display: flex;
  align-items: center;
}

.orderInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.infoHeading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px;
}

.done {
  color: var(--interface-success);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.orderStructure {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  max-height: 250px;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

.structureItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  text-align: left;
}

.itemPrice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 200px;
  gap: 8px;
}

.itemName {
  flex: 1 1 auto;
}
