.details {
  justify-content: center;
}
.cost_block {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.root {
  position: relative;
  width: 250px;
  height: 208px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
